* {
    box-sizing: border-box;
    margin: 0px 0px;
    padding: 0px;
    
}
body{
    height:100vh;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(248, 247, 247);
    width: 100vw;
    justify-content: center;
    
   
}

label{
    margin-top: 15px;
}

ul.links{
    margin-right: 100px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 144px!important;
    padding: initial;
    border: initial;
}

form{
    margin-top: 120px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 5px;
    height: fit-content;
    background-color: transparent;
    color: white;
    background-image: url(../Imgs_web/fondo_encuesta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

h1, h3{
    align-self: center;
}

.encabezado_encuesta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}

.preguntas_encuesta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;

}

hr{
    width: 70%;
    align-self: center;
}

.pregunta{
    text-align: center;
}

.radio_button{
    margin-left: 15px;
}

.checkbox{
    display: inline;
    justify-content: center;
    width: 100%;
    margin: 5px 5px;
    padding: 10px 10px;
}
input[type=submit]{
    padding: 15px;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    
}