*{
    margin: 0px;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(248, 247, 247);
    width: 100vw;
}

ul.links{
    margin-right: 100px;
}

