*{
    margin: 0px;
}
header {
    left:0;
    top:0;
    background-color: #fc6500;
    height: 100px;
    width: 100%;
    padding: 5px 4vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    font-family: 'Varela Round', sans-serif;
}

ul .links{
    display: flex;
    justify-content: space-evenly;
}

.links_navbar{
    margin-top: 10px;
}

header section.isologotipo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 35%;

}

.brand{
    margin-left: 15px;
}

header section.isologotipo div.logo {
    padding:5px;
    width: fit-content;   
}

header section.isologotipo div.logo img {
    height: 80px;
}

header section.navegacion {
    width: 69%;
}

header section.navegacion div.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 49%;
}



header section.navegacion nav {
    display:flex;
    height: 49%;
    justify-content: flex-end;
    align-items: flex-end;
}

header section.navegacion nav ul{
    display: flex;
    flex-direction: row;
    height: 50%;
    list-style: none;
}

header section.navegacion nav ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;  
}

header section.navegacion nav ul li a:hover {
    color: #0044aa;
}

.icon-burger {
    display:none;
    position: absolute;
    right: 5%;
    top: 70%;
    transform: translateY(-50%);
}

.icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

/* Responsive */

@media (max-width: 768px){
    .brand{
        font-size: small;
    }
    .icon-burger{
        display: block;
    }

    .show{
        bottom: 250px!important;
        padding-bottom: 50px;
    }

    header section.navegacion nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    
        
    

    header section.navegacion nav .links a {
        font-size: 20px;
        text-shadow: 1px 1px 0 rgb(125, 129, 179);
        
    }

    

    



}