*{
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding: 0;
    
  }



#provincias{
    margin-top: 105px;
    justify-content: center;
    display:grid;
    grid-template-columns: 375px 375px 375px 375px;
   
    
}



div.provincia{
    width:350px!important;
    height: 500px!important;
    display: flex;
    padding: 3%;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    border: black 3px solid;
    margin-top: 100px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: rgb(219, 215, 215);
    background-color: rgba(0,0,0,0.7);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    opacity: 0.9;
    flex-wrap: wrap;
}